<h2>recipe List</h2>
<form action="/recipes/view" method="post">
    <div>
        <label >recipe name</label>
        <input type="namerecipe_Name" value="<%= recipe.recipe_Name %>" name="recipe_Name">
    </div>
    <div>
        <label >recipe</label>
        <input type="namerecipe_Name" value="<%= recipe.name %>" name="name">
    </div>
    <div>
        <label >recipe_Name</label>
        <input type="text"  value="<%= recipe.recipe_Name %>" name="recipe_Name">
    </div>
    <div>
        <label>recipe ID</label>
        <select name="user_id">
            <% users.forEach((k)=>{ var selected = ( k._id.equals(recipe.user_id) ) ? "selected" : ""; %>
               <option value="<%=k._id%>" <%= selected %> ><%=k.user_id%></option>
              <label><% k._id %></label>
              <label><% recipe.user_id %></label>
            <%}) %>

           </select>
    <input type="hidden" name="id" value="<%= recipe._id %>">
    <input type="submit" value="UpGrade Your recipe">
</form>