<h3>Name of recipe</h3>
<table>
    <tr>
        <th>recipe name</th>
        <th>Price</th>
        <th>recipe_ingredients</th>
        <th>recipe ID</th>
    </tr>
    <% recipe.forEach(w => { %>
       <tr>
        <td><%= w.recipe_ingredients %></td>
        <td><%= w.price %></td>
        <td><%= w.recipe_Name %></td>
        <td><%= w.recipe_id %></td>
        <td>
            <form action="/recipe/index?id=<%= w._id %>" method="post">
            <button type="submit">Delete</button> 
            </form>
        </td>
        <td>
            <button><a href="/recipe/view?id=<%= w._id %>">View</a></button> 
        </td>
       </tr> 
   <% }); %>
</table>