<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>

   <link rel="stylesheet" href="/css/recipe-index.css">
</head>
<body>
   
    <h2>Name of recipe</h2>
   
 <div class="allRecipeDivCon">

     <% recipes.forEach(function(recipe){ %>
     <div class="allRecipeCon">
    
                <div class="div1">
                    
                    <h1>
                        <a href="/recipes/detail?id=<%= recipes._id %>">
                            <%= recipes.title %></h1>
                        
                        </a>
                        
                </div>




        
                 <div class="div2">
                    <h2><%= recipes.discreption %></h2>
                    
                </div>
                <div class="div3">
                    <h3><%= recipes.category.name %></h3>
                </div>
                <div class="div4">  
                    <h4><%= recipes.recipes %></h4>
                    
                </div>
                <div class="div5">
        
                    <h5><%= recipes.numberOfCaloires %></h5>
                    
                </div>
    
                <a href="/recipes/edit?id=<%=recipes._id%>">UPDATE</a>
                
            </div>
            <%  }) %>
 </div>   
</body>
</html>

