<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>

   <link rel="stylesheet" href="/css/recipe-detail.css">
</head>
<body>
   
    <h2>Name of recipe</h2>
   
 <div class="allRecipeDivCon">

     <div class="allRecipeCon">
        
        <div class="foodImgDiv">
            <img src="..<%= recipe.image %>" class="foodImg">
        </div>


                <div class="div1">

                    <h1><%= recipe.title %></h1>
                         
                </div>

                 <div class="div2">
                    <h2><%= recipe.discreption %></h2>
                    
                </div>
                <div class="div3">
                    <h3><%= recipe.category.name %></h3>
                </div>
                <div class="div4" dangerouslySetInnerHTML={{__html: mDBData}}>  
                    <h4><%= recipe.recipe %></h4>
                    
                </div>
                <div class="div5">
        
                    <h5><%= recipe.numberOfCaloires %></h5>
                    
                </div>
    
                <a href="/recipe/edit?id=<%=recipe._id%>">UPDATE</a>
                
            </div>
 </div>   
</body>
</html>

