<h3>Edit Recipe Form</h3>
<!-- title: String,
    author: String,
    genre: String,
    isFiction: Boolean,
    numberOfPages: Number -->
<form method="POST" action="/recipe/edit">
    <div>
        <label>Title</label>
        <input type="text" name="title" value="<%= recipe.title %>">
    </div>

    <div>
        <label>recipe</label>
        <input type="text" name="recipe" value="<%= recipe.recipe %>">
    </div>

    <div>
        <label>category</label>
        <input type="text" name="category" value="<%= recipe.category %>">
    </div>

    <div>
        <label>discreption</label>
        <input type="text" name="discreption" value="<%= recipe.discreption %>">
    </div>

    <div>
        <label>number Of Caloires</label>
        <input type="text" name="numberOfCaloires" value="<%= recipe.numberOfCaloires %>">
    </div>
    <input type="hidden" name="id" value="<%=recipe._id%>">
    <input type="submit">
</form>

